<!DOCTYPE html>
<html>
<head>
	<title>Idea Saver App</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="./register">register</a></li>
			<li><a href="./login">login</a></li>
			<li><a href="./ideas">ideas</a></li>
			<li><a href="./ideas/new">create</a></li>
			<li><a href="./logout">logout</a></li>
			<li><a href="./logout">logout</a></li>
			<li><a href="./logout">logout</a></li>
		</ul>
	</nav>

