<!DOCTYPE html>
<html>
<head>
	<title>Idea Saver App</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
	<h1>{{ currentUser.username}}</h1>
	<nav>
		<ul>
			{{!-- If no user --}}
			{{#unless currentUser}}
				<li><a href="/register">register</a></li>
				<li><a href="/login">login</a></li>
			{{else}}
			{{!-- Else --}}
				<li>Currently signed in as {{ currentUser.username}}</li>
				<li><a href="/logout">logout</a></li>
			{{/unless}}
			<li><a href="/ideas">ideas</a></li>
			<li><a href="/ideas/new">create</a></li>

		</ul>
	</nav>

