{{> header}}

	<div class="container">
		<div class="well well-lg">
			<h1 class="text-center">Idea Saver</h1>
			<p class="text-center">A place to store and keep track of all of your great ideas.</p>

			{{#unless currentUser}}
				<div class="row">
					<a class="pull-left btn btn-default" href="/register">Register</a>
					<a class="pull-right btn btn-default" href="/login">Log In</a>
				</div>
			{{/unless}}
		</div>
	</div>

{{> footer}}