{{> header}}



<div class="container">

	<h2 class="text-center">Create a new idea</h2>
	<form action="/ideas/" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="title" placeholder="idea title" minlength="6" maxlength="100" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name="category" placeholder="idea category">
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="5" name="text" placeholder="idea text"></textarea>
		</div>
		<button class="btn btn-default btn-block btn-lg">submit</button>
	</form>
</div>

{{> footer}}