{{> header}}

<form action="/ideas/" method="POST">
	<input type="text" name="title" placeholder="idea title" minlength="6" maxlength="100" required>
	<input type="text" name="category" placeholder="idea category">
	<input type="text" name="text" placeholder="idea text">
	<button>submit</button>
</form>

{{> footer}}