{{> header}}

<h1>Create an account!</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username" minlength="6" maxlength="20" required>
	<input type="password" name="password" placeholder="password" minlength="6" maxlength="20" required>
	<button>Sign up</button>
</form>

{{> footer}}