/*Color palette: 
	Base: #A578BB;
	second: #B22DCB;

	Accent: #FCFE9E;
	second: #E3FB33;
	second-triad: #98F131;
				  #FFE734;

	White: #FFF;
	Dark gray: #514a54;
	second: 4d4050;

	Light gray: #ede7f1;
	second: f3e5f5;
*/

body{
	background: rgba(178,45,203,1);
	background: -moz-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(178,45,203,1)), color-stop(100%, rgba(113,30,130,1)));
	background: -webkit-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -o-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -ms-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: linear-gradient(to right, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22dcb', endColorstr='#711e82', GradientType=1 );	
}

h1{
	color: white;
}

.panel-default>.panel-heading{
	background-color: #f3e5f5;
}

.panel-title{
	font-weight: bold;
	font-size: 2em;
}

h2{
	font-weight: bold;
}

.panel{
	background-color: white;
}

.btn-default{
	background: #FEFCFE;
}

.btn-lg{
	background: #FFF188;
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: .2em;
}

.fa.fa-trash-o, .fa.fa-eye, .fa.fa-pencil{
	font-size: 2em;
}

@media screen and (min-width: 762px){
	.alert{
		font-size: 2em;
	}

	.panel-title{
		font-size: 4em;
	}

	.title{
		font-size: 3em;
	}

	.text{
		font-size: 2em;
	}

	.btn.btn-default{
		font-size: 1.5em;
	}
	.btn.btn-danger{
		font-size: 1.5em;
	}
	.btn.btn-default.btn-block{
		font-size: 3em;
	}
}