body{
	background: rgba(178,45,203,1);
	background: -moz-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(178,45,203,1)), color-stop(100%, rgba(113,30,130,1)));
	background: -webkit-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -o-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: -ms-linear-gradient(left, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	background: linear-gradient(to right, rgba(178,45,203,1) 0%, rgba(113,30,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22dcb', endColorstr='#711e82', GradientType=1 );	
}

h2{
	font-weight: bold;
	color: white;
}

.btn-lg{
	font-size: 2.5em;
}

@media screen and (min-width: 762px){
	h2{
		font-size: 4em;
	}

	.form-control{
		height: 70px;
		font-size: 2em;
	}

	textarea.form-control{
		height: 300px;
	}
}

@media screen and (min-width: 1024px){
	h2{
		font-size: 3em;
	}

	form{
		width: 70%;
		margin: 0 auto;
	}

	.form-control{
		height: 60px;
		font-size: 1.5em;
	}

	textarea.form-control{
		height: 270px;
	}

	.btn-lg.btn-default{
		width: 50%;
		margin: 0 auto;
		font-size: 2em;
	}
}