/*Color palette: 
	Base: #A578BB;
	second: #B22DCB;

	Accent: #FCFE9E;
	second: #E3FB33;
	second-triad: #98F131;
				  #FFE734;

	White: #FFF;
	Dark gray: #514a54;
	second: 4d4050;

	Light gray: #ede7f1;
	second: f3e5f5;
*/

h1{
	font-weight: bold;
	color: white;
}

.btn-primary{
	font-weight: bold;
	background-color: #FFEC5B;
	color: #4d4050;
	border-color: #FFE206;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover{
	background-color: #FFF188;
	color: #4d4050;
}

@media screen and (min-width: 762px){
	.alert{
		font-size: 2em;
	}

	.form-control{
		font-size: 3em;
		height: 70px
	}

	.btn-primary{
		font-size: 4em;
	}
}