/*Color palette: 
	Base: #A578BB;
	second: #B22DCB;

	Accent: #FCFE9E;
	second: #E3FB33;
	second-triad: #98F131;
				  #FFE734;

	White: #FFF;
	Dark gray: #514a54;
	second: 4d4050;

	Light gray: #ede7f1;
	second: f3e5f5;
*/
body{
	/*background: #B22DCB;*/
	/*Try as a gradient?*/
	background: #B22DCB;
	/*color: #514a54;*/
	color: #4D4050;
	font-family: "Open Sans";
}

.centering{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 73vh;
}

.jumbotron{
/*	background: #ede7f1;*/
	background: #f3e5f5;
}

.btn-default{
/*	background: #FCFE9E;*/
	background-color: #FFEC5B;
	color: #4D4050;
	font-weight: bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-primary, .btn-default:active:focus, .btn-default:active:hover{
	background-color: #FFF188;
}

.pull-left, .pull-right{
	margin: 0 3px;
}

.navbar{
	background: #f3e5f5;
	color: #4D4050;
	border-color: #4D4050;
	font-weight: bold;
}

.fa.fa-lightbulb-o{
	font-size: 1.5em;
}

h1{
	font-weight: bold;
}

@media screen and (min-width: 768px){
	.navbar{
		font-size: 1.2em;
	}

	.alert{
		font-size: 1.5em;
	}

	h1.text-center{
		font-size: 5em;
	}

	p.text-center{
		font-size: 2.5em;
	}

	.btn.btn-default, .btn.btn-danger{
		font-size: 2.5em;
	}
}